.vertical-space{
    margin-bottom: 60px;
    margin-top: 60px;

    // --inner-border-width: 0px; // removes the bottom border line from ion-item
}

.center{
    width: 100%;
    text-align:center;
}
